<template>
  <div class="hello">
    <h1>Recipes</h1>
    <div v-for="(recipe, r) in allRecipes"
         :key="r"
         class="recipes">
      <h1>{{recipe.title}}</h1>
      <em class="post-date">{{recipe.postDate}}</em>
      <div class="recipe-image">
        <img :src="recipe.images.medium" alt="">
      </div>
      <p>{{recipe.description}}</p>
      <span>Servings: {{recipe.servings}}</span><br>
      <span>Preparation Time: {{recipe.prepTime}}</span><br>
      <span>Cook Time: {{recipe.cookTime}}</span><br>
      <div class="ingredients">
        <h2>Ingredients</h2>
        <ul>
          <li v-for="(ingredient, i) in recipe.ingredients" :key="i">
            <em>{{`${ingredient.amount} ${ingredient.measurement} ${ingredient.name}`}}</em>
            <ul v-if="ingredient.specials.length">
              <li v-for="(special, s) in ingredient.specials"
                  class="specials"
                  :key="s"
                  v-html="`${special.title} <em>(${special.type})</em> ${special.text}`"
              ></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="directions">
        <h2>Directions</h2>
        <ul>
          <li v-for="(direction, d) in recipe.directions" :key="d">
            <p>{{direction.instructions}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'Recipe',
    data() {
      return {
        recipes: [],
        specials: [],
      };
    },
    mounted() {
      this.showRecipes();
    },
    computed: {
      allRecipes() {
        const specials = this.specials;
        return this.recipes.map((recipe) => {
          recipe.ingredients.map((ingredient) => {
            ingredient.specials = [];
            const foundSpecial =
                specials.find(special => special.ingredientId === ingredient.uuid);
            if (foundSpecial) {
              ingredient.specials.push(foundSpecial);
            }
          });
          return recipe;
        });
      },
    },
    methods: {
      async showRecipes() {
        const recipes = await axios.get(
            'http://localhost:3001/recipes',
            {
              headers: {
                'Accept': 'application/json',
              },
            });
        this.recipes = recipes.data;

        const specials = await axios.get(
            'http://localhost:3001/specials',
            {
              headers: {
                'Accept': 'application/json',
              },
            });

        this.specials = specials.data;
      },
    },
  };
</script>

<style scoped>

  .post-date {
    font-size: 11px;
    color: rgba(0, 0, 0, .7)
  }

  .specials {
    font-size: 12px;
  }

  .recipe-image {
    margin-top: 1em;
  }

  .recipes {
    border: 1px solid #333;
    padding: 1em;
    margin: 1em;
  }
</style>
