<template>
  <div id="app">
    <Recipe />
  </div>
</template>

<script>
import Recipe from './components/Recipe.vue'

export default {
  name: 'app',
  components: {
    Recipe
  }
}
</script>

<style>
</style>
